@{
    ViewData["Title"] = "Home";
}

@section Styles {
    <link rel="stylesheet" href="~/css/home.css" />
}

@section DisableBootstrap { }

<div class="hero-section">
    <div class="hero-overlay">
        <h1 class="hero-title">Узнайте больше о нашей продукции</h1>
        <a href="/Catalog"><button class="hero-button">Подробнее</button></a>
    </div>
</div>

