@model workshop_web_app.Models.User

@{
    ViewData["Title"] = "Регистрация";
}

<h2>@ViewData["Title"]</h2>

<form asp-action="Register" asp-controller="Account" method="post">
    @Html.AntiForgeryToken()
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>

    <div class="form-group">
        <label asp-for="UserName">Имя и фамилия</label>
        <input asp-for="UserName" class="form-control" />
        <span asp-validation-for="UserName" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="UserEmail">Электронная почта</label>
        <input asp-for="UserEmail" class="form-control" />
        <span asp-validation-for="UserEmail" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="UserPasswordHash">Пароль</label>
        <input asp-for="UserPasswordHash" type="password" class="form-control" />
        <span asp-validation-for="UserPasswordHash" class="text-danger"></span>
    </div>

    <button type="submit" class="btn btn-primary">Зарегистрироваться</button>
</form>